*{
  margin: 0;
  box-sizing: border-box;
  
  }
  
  .firstinGrid{
    position: relative;


  margin:0px;
  border-radius:0px;
 
  
  }
  .firstpaper{
  
    border-radius:0px;
  }
  .mainGrid {
  
    border-radius:0px;
  
  }
  
.row {

  border-radius: 50px;
}

.scrollbar{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.bgtodo {
  background-image:url("https://scontent.fjnb9-1.fna.fbcdn.net/v/t1.6435-9/212240113_4385266501529837_112884892142877978_n.jpg?_nc_cat=110&ccb=1-4&_nc_sid=730e14&_nc_eui2=AeFOkaN2t-9xfbqrZHE-WvIAuQmVQvqdYzm5CZVC-p1jOdzUIingiSLl6qeLi2-OTD4MYDRuhClCGza-CyeBAS1j&_nc_ohc=eQdAM_8mCOQAX_OMJzw&_nc_ht=scontent.fjnb9-1.fna&oh=00ea0a02b86cff28d6952eebbcff663f&oe=6135B43F");
  height:510px; 
  width:500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}